.container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.focusable-ele {
    margin: 20px 0;
}

img {
    width: 500px;
}

.js-focus-visible .focusable-ele:focus:not(.focus-visible) {
    outline: red solid 1px;
}

.js-focus-visible .focusable-ele:focus.focus-visible {
    outline: none;
}

/*[data-whatintent='mouse'] *:focus {*/
    /*outline: none;*/
/*}*/